body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
}
#hero-section {
    background-image: url("../images/architect.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#br-word{
    background-color: rgb(0, 0, 0, 0.8);
    font-weight: bold;
}
.br{
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: normal;
}
#about-section {
filter: grayscale(0.75);
 }

 form{
    margin-left: 5rem;
    margin-right: 5rem;
 }
.navbar-brand{
    letter-spacing: 3px;
}
.card h3{
margin-top: 1rem;
font-weight: normal;
}
.card h5{
    font-weight: normal;
    margin-top: 5px;
}

